<!DOCTYPE HTML>
<html ng-app="diploma">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>Tours</title>
<meta name="description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet"
	href="plugins/bower_components/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="plugins/bower_components/font-awesome/css/font-awesome.min.css" />
<link rel="stylesheet"
	href="plugins/bower_components/angular-growl-v2/build/angular-growl.min.css" />

<link rel="stylesheet" href="css/index.css" />
</head>
<body>
	<div ng-include="'navbar/nav-bar.html'"></div>

	<section ng-controller="BookingsController" ng-init="__init()">
		<div growl=""></div>
		<div class="container">
			<div class="col-lg-12" style="text-align: center">
				<h1 style="padding: 30px; text-decoration: underline;">BOOKINGS</h1>
			</div>
			<div class="col-lg-12">
				<table class="table">
					<thead>
						<tr>
							<th>#</th>
							<th>Flight Index</th>
							<th>Name</th>
							<th>Email</th>
							<th>Contact No</th>
							<th>Address</th>
							<th>Departure Date</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="booking in bookings">
							<td>{{$index+1}}</td>
							<td>{{booking.flight_id}}</td>
							<td>{{booking.customer_name}}</td>
							<td>{{booking.email}}</td>
							<td>{{booking.contact_no}}</td>
							<td>{{booking.address}}</td>
							<td>{{booking.departure_date}}</td>
							<td><button class="btn btn-success fa fa-cog" type="button"
                               data-toggle="modal" data-target="#editModal"
                               ng-click="editBooking(booking.id, booking.customer_name, booking.email, booking.contact_no, booking.address, booking.booking_date, booking.departure_date)"> Edit</button>
                               <button class="btn btn-success fa fa-trash" type="button"
								ng-click="removeBooking(booking.id)"> Remove</button></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="modal fade" id="editModal" tabindex="-1" role="dialog"
        			aria-labelledby="exampleModalLabel" aria-hidden="true">
        			<div class="modal-dialog" role="document">
        				<div class="modal-content">
        					<div class="modal-header">
        						<h5 class="modal-title" id="exampleModalLabel">Edit Booking</h5>
        					</div>
        					<div class="modal-body">
        						<form>
        							<div class="form-group">
        								<label for="recipient-name" class="form-control-label">Customer
        									Name:</label> <input type="text" class="form-control"
        									ng-model="customer_name" />
        							</div>
        							<div class="form-group">
        								<label for="recipient-name" class="form-control-label">Contact
        									No:</label> <input type="text" class="form-control"
        									ng-model="contact_no" />
        							</div>
        							<div class="form-group">
        								<label for="recipient-name" class="form-control-label">Email:</label>
        								<input type="email" class="form-control" ng-model="email" />
        							</div>
        							<div class="form-group">
        								<label for="message-text" class="form-control-label">Address:</label>
        								<textarea class="form-control" ng-model="address"></textarea>
        							</div>
        							<div class="form-group">
        								<label for="recipient-name" class="form-control-label">Booking
        									Date:</label> <input type="date" class="form-control"
        									ng-model="booking_date" />
        							</div>
        							<div class="form-group">
        								<label for="recipient-name" class="form-control-label">Departure
        									Date:</label> <input type="date" class="form-control"
        									ng-model="departure_date" />
        							</div>
        						</form>
        					</div>
        					<div class="modal-footer">
        						<button type="button" class="btn btn-secondary"
        							data-dismiss="modal">Close</button>
        						<button type="button" class="btn btn-success" ng-click="saveBooking()">Save</button>
        					</div>
        				</div>
        			</div>
        		</div>


	</section>

	<section>

		<script src="plugins/bower_components/angular/angular.min.js"></script>
		<script src="plugins/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="plugins/bower_components/tether/dist/js/tether.min.js"></script>
		<script
			src="plugins/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script
			src="plugins/bower_components/angular-growl-v2/build/angular-growl.min.js"></script>
		<script src="js/app.js"></script>
		<script src="controllers/bookingsController.js"></script>
	</section>
</body>
</html>